.app-container {
  display: flex;
  align-items: start;
  gap: 20px; /* Adds space between map and slider */
  padding: 20px;
}

.map-container {
  flex-grow: 1;
}

.slider-container {
  width: 200px; /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.app-container {
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  
  width: 100px;
  height: 100px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db; 
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.map-container {
  position: relative;
  width: 800px;
  height: 800px;
}

